@media screen and (max-width: 720px) {
  .layer {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
}
@media screen and (min-width: 721px) {
  .layer {
    position: absolute;
    min-width: 400px;
    width: 30%;
    max-width: 560px;
    top: 10px;
    left: 10px;
  }
}

.card-title {
  transition: background-color 0.5s ease-in;
}
.card-text {
  transition: color 0.5s ease-in;
}

.pm2_5_chart {
  height: 250px !important;
  width: 100%;
}

.air_quality p span {
  color: #5c5;
  font-size: 2em;
}

.air_quality p {
  color: #ccc;
  margin: 0.3em 0;
  font-size: 0.8em;
}
