.layer {
  position: absolute;
  min-width: 400px;
  max-width: 560px;
  top: 10px;
  left: 10px;
}

.aqi_chart {
  height: 250px;
  width: 100%;
}

.air_quality p span {
  color: #5c5;
  font-size: 2em;
}

.air_quality p {
  color: #ccc;
  margin: 0.3em 0;
  font-size: 0.8em;
}
